.featured-section {
  width: 100%;
  padding: 10px 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
}

.categories-row {
  display: flex;
  padding: 10px 15px;
  gap: 20px;
  margin: 0;
  width: max-content;
  min-width: 100%;
  box-sizing: border-box;
}

.categories-row::-webkit-scrollbar {
  display: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  min-width: 80px;
  padding: 5px;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to right, #eaf6ff, #d0ecff);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.category-item:hover .category-img {
  border-color: #0d6efd;
  box-shadow: 0 6px 16px rgba(229, 231, 235, 0.2);
}

.category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
   /* image thoda upar aur badi hogi */
}

.category-item:hover .category-img img {
  transform: scale(1.05);
}

.category-name {
  margin-top: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  min-height: 1.5rem; /* equal spacing fix */
  line-height: 1.5rem;
}


/* Hide scrollbar */
.categories-row::-webkit-scrollbar {
  display: none;
}

.categories-row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
